// Scroll Prompt Section Starts

.single-project__prompt{
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-content: center;
    justify-content: flex-end;
    align-items: baseline;
}

.single-project-prompt{
    font-size: 2rem;
    font-family: $bodyfont;
    color: $accent2;
	border-bottom: solid 1px;

}
.scroll-prompt {

	.scroll-prompt-arrow-container {
		animation-name: bounce;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}
	.scroll-prompt-arrow {
		animation-name: opacity;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}
	.scroll-prompt-arrow:last-child {
		animation-direction: reverse;
		margin-top: -6px;
	}
	.scroll-prompt-arrow > div {
		width: 16px;
		height: 16px;
		border-right: 2px solid $accent2;
		border-bottom: 2px solid $accent2;
		transform: rotate(45deg) translateZ(5px);
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0.1;
	}

	20% {
		opacity: 0.2;
	}

	30% {
		opacity: 0.3;
	}

	40% {
		opacity: 0.4;
	}

	50% {
		opacity: 0.5;
	}

	60% {
		opacity: 0.6;
	}

	70% {
		opacity: 0.7;
	}

	80% {
		opacity: 0.8;
	}

	90% {
		opacity: 0.9;
	}

	100% {
		opacity: 1;
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	10% {
		transform: translateY(1px);
	}

	20% {
		transform: translateY(2px);
	}

	30% {
		transform: translateY(3px);
	}

	40% {
		transform: translateY(4px);
	}

	50% {
		transform: translateY(5px);
	}

	60% {
		transform: translateY(6px);
	}

	70% {
		transform: translateY(7px);
	}

	80% {
		transform: translateY(8px);
	}

	90% {
		transform: translateY(9px);
	}

	100% {
		transform: translateY(10px);
	}
}


// Scroll Prompt Section Ends